@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Merriweather:wght@700&display=swap");

:root {
    --primary-sage: #7C9A92;
    --primary-dark: #5e7a72;
    --secondary-slate: #6B7C93;
    --accent-blue: #5B8DEF;
    --accent-orange: #F2994A;
    --accent-alert: #E53E3E;
    --bg-body: #F2F4F3;
    --bg-white: #FFFFFF;
    --text-main: #2D3748;
    --text-muted: #718096;
    --border-light: #E2E8F0;
    --shadow-lg: 0 10px 40px rgba(0, 0, 0, 0.08);
    --shadow-soft: 0 4px 20px rgba(0, 0, 0, 0.03);
    --shadow-card: 0 10px 30px rgba(0, 0, 0, 0.05);
    --shadow-float: 0 15px 35px rgba(0, 0, 0, 0.1);
    --radius-xl: 24px;
    --radius-lg: 20px;
    --radius-md: 12px;
    --bg-overlay: rgba(45, 55, 72, 0.4); /* for pop-up */
    --shadow-modal: 0 20px 50px rgba(0, 0, 0, 0.15); /* for pop-up */
    --star-gold: #F59E0B; /* for pop-up */
}

* { box-sizing: border-box; margin: 0; padding: 0; }

/* 1. Style the global body here */
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-body);
    color: var(--text-main);
    height: 100vh;
    overflow: hidden;
    display: flex;
    margin: 0;
    padding: 0;
}

/* 2. Tell the React container to stretch to fill the body */
#root {
    flex: 1;        /* THIS IS THE KEY: Tells root to grow to 100% of body */
    display: flex;
    flex-direction: row;
    width: 100%;    /* Ensures it takes full width */
    height: 100%;  /* Prevents flex items from overflowing strangely */
    justify-content: center;
    overflow-y: auto;
    background-color: var(--bg-body);
}

body[data-theme="admin"] #root {
            --primary-sage: #7C9A92;
            --primary-dark: #5e7a72;
            --accent-alert: #E53E3E; /* Red for High Risk */
            --accent-warning: #DD6B20; /* Orange for Config/System */
            --accent-success: #38A169; /* Green for Active Users */
            --bg-body: #F2F4F3;
            --bg-white: #FFFFFF;
            --text-main: #2D3748;
            --text-muted: #718096;
            --border-light: #E2E8F0;
            --shadow-card: 0 4px 6px rgba(0, 0, 0, 0.05);
            --shadow-float: 0 10px 15px rgba(0, 0, 0, 0.08);
            --radius-xl: 20px;
            --radius-md: 12px;
        }