fastapi
uvicorn
pydantic
requests
python-dotenv
jaydebeapi
JPype1
openpyxl
langchain
langchain-huggingface
chromadb
sentence-transformers
unstructured
markdown
APScheduler
pywebpush
Werkzeug
langchain-opengauss
spacy
cryptography
