<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/base.css') }}">
    {% block style %}{% endblock %}
</head>
<body>
    <nav class="sidebar-left">
        <div class="homebrand">
            <i class="fas fa-heart-pulse"></i>
            <span>Counselor.AI</span>
        </div>

        <div class="search-wrapper">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search sessions...">
        </div>

        <div class="nav-menu">
            <a href="{{ url_for('home') }}" class="nav-item active">
                <i class="fas fa-comment-dots"></i> AI Chat
            </a>
            <a href="#" class="nav-item">
                <i class="fas fa-folder-open"></i> History
            </a>
            <a href="{{ url_for('analysis') }}" class="nav-item">
                <i class="fas fa-chart-pie"></i> Analysis
            </a>
            <div class="divider"></div>
            <!-- <a href="#" class="nav-item">
                <i class="fas fa-users"></i> Community <span class="new-btn">NEW</span>
            </a> -->
            <a href="#" class="nav-item">
                <i class="fas fa-cog"></i> Settings
            </a>
            <a href="#" class="nav-item">
                <i class="fas fa-question-circle"></i> Help
            </a>
            <div style="flex: 1;"></div> <a href="#" class="nav-item">
                <i class="fas fa-user-circle"></i> My Profile
            </a>
            <a href="{{ url_for('login') }}" class="nav-item" style="color: var(--accent-alert);">
                <i class="fas fa-sign-out-alt"></i> Log Out
            </a>
        </div>

        <div class="user-profile">
            <div class="avatar">VO</div>
            <div class="user-info">
                <h4>Vincent Oong</h4>
                <p>vincent@mmu.edu.my</p>
            </div>
        </div>
    </nav>
    

    {% block content %}{% endblock %}

    {% block modals %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>